
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
@import url("materialdesignicons.min.css");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&family=Libre+Baskerville&display=swap');

/* PLUGIN CSS */
@import url("../assets/jquery.mCustomScrollbar/jquery.mCustomScrollbar.css");

/* MAIN CSS */
@import url("bootstrap.min.css");
@import url("typography.css");
@import url("theme.css");
@import url("responsive.css");
@import url('color.css'); 



@media screen and (max-width: 480px) {
    .first-screen {
        height: 500px;
    }
    .first-screen-box.about-me{
        margin:0 auto;
        margin-top: 2em;
        padding: 0;
    }
    .first-screen-box.about-me h2{
        font-size: 2.5em;
    }
    .first-screen-box.about-me p{
        font-size: 1em;
        margin: 0 auto;
        padding: 0;
    }
    #projects {
        padding: 0;
        margin: 1.2em;
    }

    #projects .projects h5, #projects .projects h6 {
        width: 100%;
    }
    #projects .projects-wrapper .projects h5 {
        font-size: 0.5em;
    }
    #projects .learnMore {
        text-align:left;
        margin: 0;
        margin-top: 0.5em;
        font-size: 1em;
    }
    #projects .learnMore a {
        margin: 0;
        padding: 0;
    }
    figure {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-left: 1em;
    }
    figure img {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-left: 0.7em;
    }
    .row {
        margin-top: 2em;

    }
    p.learnMore a.award {
        background-image: none;
    }    
    .about-me-info {
        padding-left: 35%;
    }
  }








/* @media screen and (max-width: 480px) {
    .first-screen {
        height: 500px;
    }
    .first-screen-box.about-me{
        margin:0 auto;
        margin-top: 2em;
        padding: 0;
    }
    .first-screen-box.about-me h2{
        font-size: 2.5em;
    }
    .first-screen-box.about-me p{
        font-size: 1em;
        margin: 0 auto;
        padding: 0;
    }
    #projects {
        padding: 0;
        margin: 1.2em;
    }
    #projects .projects-wrapper, .projects-wrapper p,
    .projects-wrapper h6 {
        width: 70%;
    }
    #projects .projects h5, #projects .projects h6 {
        width: 100%;
    }
    #projects .projects-wrapper .projects h5 {
        font-size: 1em;
        color: red;
    }
  } */
