/*------------------------------------------------------------------
[Table of contents]

 - Preview page styles

- Project:    Richard - HTML Template
- Version:    1.1
- 
- Profile:    http://themeforest.net/user/andreysokoltsov

-------------------------------------------------------------------*/

/* Preview page styles */
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  line-height: 1.56;
}
h1 {
  font-size: 4em;
  line-height: 1.2;
  font-family: "Libre Baskerville", serif;
  font-weight: 600;
  width:7em;
  padding-bottom:0.5em;
}
.hero h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size:2.6em;
  width: 60%;
  margin-top: 1.2em;
}
h2 {
  font-size: 36px;
  line-height: 1.25;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
}
h3 {
  font-size: 3em;
  line-height: 1.4;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700; 
  color:#132434;
}
.margin-box h3 {
  margin-bottom: -0.2em;
}
h4 {
  color:#0083FF;
  font-size: 2.2em;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom:0em;
  padding-top:1em;
}
h5 {
  color:#0083FF;
  font-size: 2.6em;
  max-width: 16em;
  line-height: 1.2;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700; 
  padding-bottom:0.4em;
}
h6 {
    font-size: 1.4em;
    line-height: 1.4em;
    font-family: "Libre Baskerville", serif;
    padding-top:4em;
    padding-bottom: 1em;
    text-align: center;
}
p a {
  color:#0083FF;
  font-weight: bolder;
}
p a:hover {
  color:#0083FF;
  text-decoration: underline;
}
.logo {
  font-size: 18px;
  line-height: 1.4;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
}
.header-links ul li a {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.66;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
}
.about-me-info .span-title {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  font-family: "IBM Plex Sans", sans-serif;
  text-transform: uppercase;
}
.about-me-info .span-title + span {
  font-size: 14px;
  line-height: 20px; 
}
.site-btn {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  font-family: "IBM Plex Sans", sans-serif;
  text-transform: uppercase;
}
.project-date {
  font-size: 14px;
  line-height: 1.4; 
}

.project p {
  line-height: 1.6em; 
} 
.single-project-section p {
  color:#132434;
  padding-top:0.6em;
  max-width:46em;
}
.projects-filter ul li {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  font-family: "IBM Plex Sans", sans-serif;
  text-transform: uppercase;
}
.form-wrapper .form-group label, .form-wrapper .form-group .help-block, .form-wrapper .form-group .help-block-success {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  font-family: "IBM Plex Sans", sans-serif;
  text-transform: uppercase; 
}
.site-input {
  font-size: 14px;
  line-height: 1.4;
}
.copyright {
  font-size: 14px;
  line-height: 20px;
}
.resume-box .resume-info-title h5 {
  line-height: 25px;
}
.resume-box .resume-date {
  font-size: 14px;
  line-height: 20px;
}
.legend {
  font-size: 1em;
  line-height: 20px; 
  font-weight: bold;
  margin-bottom: 1em;
  text-align: left;
}
.content table tr th {
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "IBM Plex Sans", sans-serif;
}
.content table tr td {
  font-size: 14px;
  line-height: 20px;
}
.content blockquote {
  font-style: italic;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
}
.content blockquote span {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.project-info-line .info-line .span-title {
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "IBM Plex Sans", sans-serif;
}
.project-info-line .info-line .span-title + span {
  font-size: 14px;
  line-height: 20px;
}

.highcharts-axis-title {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.highcharts-xaxis-labels text, .highcharts-yaxis-labels text {
  font-family: "IBM Plex Sans", sans-serif !important;
  font-size: 14px !important;
  line-height: 20px !important;
}
.highcharts-legend-item text {
  font-size: 12px !important;
  line-height: 20px !important;
  text-transform: uppercase !important;
  font-weight: 700 !important;
  font-family: "IBM Plex Sans", sans-serif !important;
}
.legend-highchart {
  font-size: 12px !important;
  line-height: 20px !important;
  text-transform: uppercase !important;
  font-weight: 700 !important;
  font-family: "IBM Plex Sans", sans-serif !important;
}
.highchart-title-desc {
  font-family: "IBM Plex Sans", sans-serif !important;
  font-size: 14px !important;
  line-height: 20px !important;
}

/*# sourceMappingURL=maps/typography.css.map */
